//Обнуление
@import "_zero";

//Шрифты
//Montserrat
@font-face {
	font-family: 'Montserrat';
	src: url('/font/Montserrat-Black.ttf');
	font-weight: 900;
}

//OpenSans
@font-face {
	font-family: 'Open Sans';
	src: url('/font/OpenSans-Regular.ttf');
	font-weight: 400;
}

html,body{
	height: 100%;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	@media (max-width: 1600px) {
			font-size: 15px;
	}
	@media (max-width: 1440px) {
			font-size: 12px;
	}
	@media (max-width: 1060px) {
			font-size: 10px;
	}
	@media (max-width: 860px) {
	}
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
	padding: 0 20px;
	@media (max-width: 1600px) {
		&{
			max-width: 1200px;
		}
	}
	@media (max-width: 1440px) {
		&{
			max-width: 1100px;
		}
	}
	@media (max-width: 1260px) {
		&{
			max-width: 1000px;
		}
	}
	@media (max-width: 1060px) {
		&{
			max-width: 800px;
		}
	}
	@media (max-width: 860px) {
		&{
			max-width: 700px;
		}
	}
	@media (max-width: 660px) {
		&{
			max-width: 600px;
		}
	}
}
.main {
    flex: 1 1 auto;
		// .main__section
		
		&__section-learn {
			padding: 6em 0 10em 0;
        }
		&__section-what {
			padding: 6em 0;
        }
		&__section-form {
			padding: 9em 0 10em 0;
        }
}
.section-learn {
    display: flex;
    flex-direction: column;
    background-color: #42395a;
		// .section-learn__logo
		&__logo {
		}
		// .section-learn__content
		&__content {
			display: flex;
			margin: 2.7em 0 0 0;
			justify-content: space-between;
			align-items: center;
			gap: 10%;
			@media (max-width: 1060px) {
				&{
					gap: 20px;
				}
			}
		}
		// .section-learn__text
		&__text {
			font-size: 1em;
			flex: 0 0 50%;
			display: flex;
			flex-direction: column;
			gap: 3em;
			z-index: 2;
			@media (max-width: 660px) {
				&{
					flex: 1 1 80%;
				}
			}
		}
		
		// .section-learn__img
		&__img {
			flex: 1 1 40%;
			@media (max-width: 660px) {
				&{
					position: absolute;
					opacity: 0.1;
					z-index: 1;
				}
			}
		}
		
		&__img img{
			max-width: 100%;
		}
}
.text {
	
		// .text__title
		&__title {
			font-family: 'Montserrat';
			font-size: 2.4em;
			line-height: 48px;
			font-weight: 900;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
		&__title span{
			color: #48ed8e;
		}
		// .text__p
		&__p {
			letter-spacing: 0.02em;
			color: #ffffff;
		}
		// .text__button
		&__button {
			display: flex;
			
			&-link {
				font-family: 'Montserrat';
				font-weight: 900;
				letter-spacing: 0.02em;
				color: #ffffff;
				padding: 25px 40px;
				background-color: #ed9619;
				border-radius: 28.5px;
				@media (max-width: 1920px) {
					&{
						padding: 15px 40px;
					}
				}
				&:hover{
					background-color: #ffffff;
					color: #ed9619;
					border: 3px solid #ed9619;
					padding: 22px 37px;
				}
				@media (max-width: 1920px) {
					&:hover{
						padding: 12px 37px;
					}
				}
			}
		}
		
}
.section-what {
	background-color: #ffffff;
		// .section-what__title
		&__title {
			
		}
		// .section-what__column
		&__column {
			margin: 5em 0 0 0;
			display: flex;
			gap: 10px;
			@media (max-width: 1060px) {
				&{
					flex-wrap: wrap;
					gap: 30px;
					justify-content: space-between;
				}
			}
			@media (max-width: 860px) {
				&{
					flex-wrap: wrap;
					gap: 20px;
					justify-content: space-between;
				}
			}
		}
		// .section-what__item
		&__item {
		}
}
.title {
	font-family: 'Montserrat';
	font-size: 2em;
	font-weight: 900;
	letter-spacing: 0.02em;
	color: #201b2d;
}
.item {
	display: flex;
	gap: 2.7em;
	flex: 0 0 33%;
	align-items: center;
	@media (max-width: 1060px) {
		&{
			flex: 0 0 48%;
		}
	}
	@media (max-width: 660px) {
		&{
			flex: 1 1 100%;
		}
	}
		&__img{
			display: inline-flex;
			flex: 1 1 100px;

		}
		// .item__img
		&__img img{
			height: 100%;
			@media (max-width: 660px) {
				&{
					height: auto;
					max-width: 100%;
				}
			}
		}
		// .item__text
		&__text {
			flex: 1 1 500px;
			
		}
		
		// .item__title
		&__title {
			font-family: Montserrat;
			font-size: 1.2em;
			line-height: 25px;
			font-weight: 900;
			letter-spacing: 0.02em;
			color: #201b2d;
		}
		// .item__p
		&__p {
			font-size: 1em;
			margin: .6em 0 0 0;
			letter-spacing: 0.02em;
			color: #201b2d;
		}
}
.section-form {
	background-color: #efecf4;
		&__form{
			margin: 3em 0 0 0;
			display: flex;
			gap: 15px;
			@media (max-width: 670px) {
				&{
					flex-direction: column;
					gap: 1em;
				}
			}
		}
		&__input {
			flex: 0 0 474px;
			padding: 2em;
			border: 1px solid #bfb8d1;
			border-radius: 28px;
			@media (max-width: 670px) {
				&{
					flex: 0 0 100%;
				}
			}
			&::placeholder{
				opacity: 0.5;
				letter-spacing: 0.02em;
				color: #201b2d;
				font-size: 1em;
			}
		}
		&__button {
			display: inline-flex;
		}
		&__link {
			font-family: 'Montserrat';
			font-weight: 900;
			letter-spacing: 0.02em;
			color: #ffffff;
			padding: 2em;
			background-color: #ed9619;
			border-radius: 28.5px;
		}
}
.footer {
	padding: 2.7em 0 3.2em 0;
	background-color: #201b2d;
		&__copyright {
			font-size: 0.93em;
			letter-spacing: 0.02em;
			color: #d4cee3;
		}
}
